<div class="container bg-dark">
  <div *ngIf="movies.length!==0" class="mb-2">
    <div class="card border-0 p-3 mb-3" *ngFor="let movie of movies">
      <div class="row">
        <div class="col-md-2 text-center">
          <img [src]="movie.poster_path?(url_prefix+ movie.poster_path):movie_image_placeholder" alt="" class="img-fluid movie-poster border-blackish-custom">
        </div>
        <div class="col-md-10">
          <div class="card-block">
            <h4 class="card-title display-5 d-inline">{{movie.original_title}}</h4>
            <p class="text-muted p-0 m-0">{{movie.release_date|date:'mediumDate'}}</p>
            <p class="card-text">{{movie.overview}}</p>
            <button class="btn btn-outline-dark" (click)="showMovieDetails(movie)">Details</button>
            <button class="btn btn-outline-dark" (click)="toggleMovieInWatchList(movie)">{{movieExistsInWatchList(movie)}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-dark mt-3 text-center text-white" *ngIf="movies.length===0">
  <h4 class="display-4">No Results</h4>
</div>
